<%! 
import settings
import cherrypy
%>
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Lemon Chat</title>
<link rel="stylesheet" href="/static/reset.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="/static/chat.css" />
<script src="/static/autobahn.min.js"></script>
<script src="/static/jquery-3.3.1.min.js"></script>
<script src="/static/moment.js"></script>
<script src="/static/moment-timezone.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script src="/static/sweetalert2.all.min.js"></script>
<script>
AUTOBAHN_DEBUG = true; 
</script>
<style>
#people-list li { cursor: pointer; }
@media (max-width: 320px) {
    .people-list, .chat { float: none; }
    .people-list .search { display: none; }
    .people-list { width: 100%; max-height: 30vh; overflow: scroll; }
}
.container, .chat { max-width: 100%; }
</style>
</head>
<body>
  <div class="container clearfix">
    <div class="people-list" id="people-list">
      <div class="search">
        <input type="text" placeholder="search" />
        <i class="fa fa-search"></i>
      </div>
      <ul class="list">
        
      </ul>
    </div>
    
    <div class="chat">
      <div class="chat-header clearfix">
        <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" /> -->
        
        <div class="chat-about">
          <div class="chat-with"></div>
          <div class="chat-num-messages"></div>
        </div>
        <i class="fa fa-star"></i>
      </div> <!-- end chat-header -->
      
      <div class="chat-history">
        <ul>
         
        </ul>
        
      </div> <!-- end chat-history -->
      
      <div class="chat-message clearfix">
        <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>
                
        <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
        <i class="fa fa-file-image-o"></i>
        <button type="button" class="vidyoio">Video</button>
        
        <button type="button" class="send">Send</button>

      </div> <!-- end chat-message -->
      
    </div> <!-- end chat -->
    
  </div> <!-- end container -->

<script id="message-template" type="text/x-handlebars-template">
  <li class="clearfix" data-id="{{message_id}}">
    <div class="message-data align-right">
      <span class="message-data-time" ><time class="reltime" datetime="{{stampdate}}"></time></span> &nbsp; &nbsp;
      <span class="message-data-name" >{{user_id}}</span> <i class="fa fa-circle me"></i>
    </div>
    <div class="message other-message float-right">
      {{message}}
    </div>
  </li>
</script>

<script id="message-response-template" type="text/x-handlebars-template">
  <li>
    <div class="message-data" data-id="{{message_id}}">
      <span class="message-data-name"><i class="fa fa-circle online"></i> {{user_id}}</span>
      <span class="message-data-time"><time class="reltime" datetime="{{stampdate}}"></time></span>
    </div>
    <div class="message my-message">
      {{message}}
    </div>
  </li>
</script>


<script>
(function(){

var connection = new autobahn.Connection({url: 'wss://masterpenny.com:9000/', realm: 'realm1'});
var url = "${cherrypy.url()}";

connection.onclose = function (reason, details) {
    console.log("Connection closed: "+reason);
    setTimeout(connection.open, 15000);
}

connection.onopen = function (session) {

    console.log("OPENED!");


function updatetime() {
    $("time.reltime").each(function (index) {
        $(this).html(moment($(this).attr('datetime')).fromNow());
    });
}
setInterval(updatetime, 60000); // run every so often to update relative time fields.

var peopleList = new List('people-list', {
    valueNames: ['name', 'status', {data: ['id']}, { attr: 'src', name: 'avatar' }, { attr: 'datetime', name: 'reltime'}],
    item: '<li class="clearfix conversation" data-id=""> <img class="avatar" src="" alt="avatar" /><div class="about"> <div class="name"></div> <time class="reltime" datetime=""></time> <span class="unread-count"></span></div></li>'
});
var conversation_id = null;
var activeconversation = null;
var conversationsubs = [];

var me = Handlebars.compile( $("#message-template").html());
var them = Handlebars.compile( $("#message-response-template").html());


function conversationsummary(args, kwargs, details) {
    // Summary information regarding this conversation has changed.
    // alert();
    // Request the last updates and number of unread messages if not active window
    console.log("New message, time to update the summary information");
    $(args).each(function () {
        var id = this['conversation_id'];
        $.get("/api/conversation/summary?user_id=${user_id}&conversation_id="+id, function (data) {
            console.log(data);
            var t =$('.people-list li[data-id="'+id+'"]');
            t.find('.reltime').prop('datetime', data.updated);
            t.find('.unread-count').text('');
            if (data.unread) {
                t.find('.unread-count').text('(' + data.unread + ')');
            } 
            updatetime();
        });
    });
    
}

function conversationlist(args) {
    $.get('/api/conversation/list?user_id=${user_id}&agent=${agent}', function(data) {
        
        //unsubscribe from previous conversations
        peopleList.clear();
        $(conversationsubs).each(function () {
            console.log("Unsubscribing..")
            session.unsubscribe(this['_handler']['handler']['value']);
        });
        conversationsubs = [];

        if (data.length > 0) {
            $(data).each(function(index, value) {
                console.log(value);
                peopleList.add({id: value.conversation_id, name: value.subject, reltime: value.date});
                updatetime();
                topic = 'lemonchat.conversationsummary.'+value['conversation_id'];
                console.log("Subscribing to conversation (summary) for "+value['conversation_id']);
                conversationsubs.push(session.subscribe(topic, conversationsummary));
            });
            updatetime();

            $('.conversationchange').on('click', function(d) {
                var conversation_id = $(this).attr('conversation_id');
                conversationchange(conversation_id);
            });
            if (!conversation_id) $('.people-list li:first').trigger('click');
        } else {
            %if not agent:
            swal({ title: 'Please briefly describe the nature of your query', input: 'text'}).then(function(w) {
                var data = {user_id: "${user_id}", subject: w};
                $.post("/api/conversation/new", data, function(r) {
                    changeconversation(r.conversation_id);
                });    
            });
            %endif
        }
        

    });
}
session.subscribe('lemonchat.conversations', conversationlist);
conversationlist();

function refreshconversation() {
    $.get("/api/conversation/change?user_id=${user_id}&conversation_id="+conversation_id, function (data) {
        $('.chat-history ul').empty();
        $.each(data, function(i, row) {
            if (row.user_id == '${user_id}') {
                $('.chat-history ul').append(me(row));
            } else {
                $('.chat-history ul').append(them(row));
            }
        });
        updatetime();
        $('.chat-history').scrollTop($('.chat-history')[0].scrollHeight);
    });
}

function changeconversation(id) {
        if (activeconversation) {
            console.log("Unsubscribing from "+conversation_id);
            session.unsubscribe(activeconversation['_handler']['handler']['value']);
            activeconversation = 0;
            activeconversation_id = 0;
        }
        conversation_id = id;
        var topic = 'lemonchat.conversation.'+conversation_id;
        activeconversation = session.subscribe(topic, refreshconversation);
        $.get("/api/conversation/summary?user_id=${user_id}&conversation_id="+conversation_id, function (data) {
            $('.chat-num-messages').text(data.unread + ' unread message' + (data.unread == 1 ? '': 's'));
        });
        refreshconversation();
}

$('.people-list').on('click', 'li.conversation', function(evt) {
        evt.preventDefault();
        changeconversation($(this).data('id'));
        var name = $(this).find('.name').text();
        $('.chat-with').text(name);
});

$('#message-to-send').on('keypress', function(e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) {
            $('button.send').trigger('click');
            return true;
        }
});

$('button.send').on('click', function() {
    var data = {user_id: "${user_id}", conversation_id: conversation_id, newmessage: $('#message-to-send').val()};
    $.post("/api/message/new", data, function(data) {
        $('#message-to-send').val('');
        refreshconversation();
    });
});
$('button.vidyoio').on('click', function() {
    console.log("Botton")
    window.open("https://vidyoio.nitric.co.za?name=${user_id}&room="+conversation_id); 
});



};

connection.open();
})();
</script>
</body>
</html>
